<form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
  <div class="form-group">

    <div formArrayName="test">
      <h3>Test</h3> 
      <button type="button" (click)="addTest()">Add Test</button>
    
      <div *ngFor="let item of mainForm.get('test').controls; let i=index" [formGroupName]="i">
        <label>
          URL:
          <input type="text" formControlName="url">
        </label>

        <div formArrayName="body">
          <div *ngFor="let child of item.get('body').controls; let j=index" [formGroupName]="j">
            <label>
              Body:
              <input type="text" formControlName="key">
              <input type="text" formControlName="value">
            </label>
          </div>

        </div>
        
        <button type="button" (click)="addBody(i)">Add Body</button>

        <div formArrayName="headers">
          <div *ngFor="let child of item.get('headers').controls; let k=index" [formGroupName]="k">
            <label>
              Headers:
              <input type="text" formControlName="key">
              <input type="text" formControlName="value">
            </label>
          </div>
        </div>

        <button type="button" (click)="addHeader(i)">Add Header</button>
      </div>
    </div>

  </div>

  <br>
  <button type="submit">Submit</button>
</form>
